<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>
<body>
<ul>
    <li><a href="/">Annonces</a></li>


</ul>
<h1>ajouter une annonce </h1>


<form action="/new" method="POST">
    <input type="text" required placeholder="titre" name="titre">
    <input type="text" required placeholder="description" name="description">
    <input type="text" required placeholder="adresse" name="adresse">
    <input type="text" required placeholder="code postal" name="code_postal">
    <input type="text" required placeholder="ville" name="ville">
    <input type="number" required placeholder="prix" name="prix">

    <button type="submit">Submit</button>
</form>
</body>
</html>

