<%- include('./nav.html') %>

<ul>
    <li>id :<%= item._id%></li>
    <li>titre :</li>
    <li>description : </li>
    <li> adresse</li>
    <li> cp</li>
    <li> ville</li>
    <li>  prix </li>
    <li> action </li>
</ul>
